{% extends "base.html" %}
{% load static %}
{% load bagtools %}

{% block extra_meta %}
    <meta name="description" content="Art of Darts Bag Page, view your bag here!">
    <meta name="keywords" content="Art of Darts, Darts, Bag, Ecommerce, Barrels, Shafts, Flights, Accessories, Shop, Store">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                <hr>
                <h2 class="logo-font mb-4 white shadow text-center">Your Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="white table table-sm shadow table-bordered bag-table">
                            <thead>
                                <tr>
                                    <th scope="col" class="bag-th">Product</th>
                                    <th scope="col" class="bag-th"></th>
                                    <th scope="col" class="bag-th">Qty</th>
                                    <th scope="col" class="bag-th">Price</th>
                                    <th scope="col" class="bag-th">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_items %}
                                    <tr>
                                        <td class="p-1 w-25">
                                            {% if item.product.image %}
                                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid rounded">
                                            {% else %}
                                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" class="img-fluid rounded">
                                            {% endif %}
                                        </td>
                                        <td class="p-2 bag-amount">{{ item.product.name }}<hr>{{ item.product_type }}</td>
                                        <td class="p-2">
                                            <form action="{% url 'adjust_bag' item.product.id %}" method="POST" class="form update-form">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <button type="button"
                                                                    class="decrement-qty btn btn-sm border-black rounded white mr-1 shadow"
                                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" aria-label="Decrement quantity">
                                                                        <span>
                                                                            <i class="fas fa-sm fa-minus"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                                <input type="number"
                                                                class="form-control qty-input form-control-sm white" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" aria-label="Quantity">
                                                                <div class="input-group-prepend">
                                                                    <button type="button" class="increment-qty btn btn-sm border-black rounded white shadow"
                                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" aria-label="Increment quantity">
                                                                        <span>
                                                                            <i class="fas fa-sm fa-plus"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-link white" aria-label="Update"><small>Update</small></a>
                                            <a class="remove-item text-danger white float-right" id="remove_{{ item.product.id }}" aria-label="Remove all"><small>Remove All</small></a>
                                        </td>
                                        <td class="p-2 bag-amount">£{{ item.product.price }}</td>
                                        <td class="p-2 bag-amount">£{{ item.product.price | calc_subtotal:item.quantity }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-3 text-right">
                                        <h6 class="white">Bag Total: £{{ total|floatformat:2 }}</h6>
                                        <h6 class="white">Delivery: ${{ delivery|floatformat:2 }}</h6>
                                        <h4 class="white mt-2">Order Total: £{{ grand_total|floatformat:2 }}</h4>
                                        {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-uppercase white">
                                            You could get free delivery if you spend <strong>£{{ free_delivery_delta }}</strong> more!
                                        </p>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col mb-5">
                                <a href="{% url 'products' %}" class="btn border-black rounded white shadow" aria-label="Back to Products">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back !</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn border-black rounded white shadow float-right" aria-label="Secure Checkout">
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    <span class="text-uppercase">Secure Checkout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5 white shadow text-center">You haven't added anything to your bag! Go shopping!</p>
                    <a href="{% url 'products' %}" class="btn border-black rounded white shadow" aria-label="Back to Products">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Get back to the darts!</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    $('.update-link').click(function(e) {
        e.preventDefault();
        var form = $(this).prev('.update-form');
        form.submit();
    })

    $('.remove-item').click(function() {
        var csrfToken = "{{ csrf_token }}";
        var itemID = $(this).attr('id').split('remove_')[1];
        var url = '/bag/remove/' + itemID + '/';
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
            .done(function() {
                location.reload();
            })
            .fail(function() {
                alert('An error occurred. Please try again.');
            });
    })
</script>
{% endblock %}