{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 col-md-9 col my-auto">
                <h1 class="display-4 logo-font white shadow text-center rounded py-2">
                    Welcome, to the Art of Darts!
                </h1> 
                <p class="white shadow px-3 py-2 text-center">Here at the Art of Darts, we want you to embrace the art form that it is! Get everything you need to upgrade you game right here and throw your arrows like you've never thrown them before!</p>
                <div class="my-2">
                    <h4>
                        <a href="" class="white shop-now-button btn btn-lg rounded text-uppercase py-3 shadow my-2 float-right">Get Darting!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}

