{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                <hr>
                <h2 class="logo-font mb-4 white shadow text-center">My Profile</h2>
                <hr>
            </div>
        </div>
    </div>
<!-- {% include 'includes/footer.html' %} -->
{% endblock %}
