html {
    height: 100vh;
}

body {
    background: url('/media/homebackground1.webp') no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    font-family: "Trade Winds", serif;
    font-weight: 400;
    font-style: normal;
    height: calc(100vh - 164px);
}

.home-container {
    padding-top: 60px;
}


.product-padding {
    padding-bottom: 60px;
}

.profile-padding {
    padding-bottom: 210px;
}

.footer {
    position: relative;
    bottom: 0 !important;
    display: block;
    width: 100%;
    background-color: black; /* Dark background */
    text-align: center;
}


#topnav {
    background-color: black !important;
}

.card-img {
    max-height: 60vh;
}

/* from Bulma for icons */
.icon {
    align-items: center;
    display:inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* custom */
.logo-font {
    transform: uppercase;
}

.main-logo-link {
    width: fit-content;
    font-size: 1.5rem;
    color: #f2edd5;
}

.green {
    background-color: #4db057;
}

a:hover,
a p:hover,
a i:hover,
.btn:hover {
    color: #4db057 !important;
}

a.dropdown-item:hover {
    color: #f2edd5 !important;
}

.navbar-toggler-icon {
    background-color: #f2edd5;
}

.white {
    color: #f2edd5 !important;
}

.black {
    background-color: black;
}

input {
    background-color: black !important;
    border-color: #f2edd5 !important;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.7);
}

.input-group-append {
    background-color: #f2edd5 !important;
}

.fa-search {
    color: black;
}

.fa-search:hover {
    color: #4db057;
}

input::placeholder {
    color: #f2edd5 !important;
}

.dropdown-menu {
    background-color: black !important;
}

.dropdown-item {
    color: #f2edd5;
}

.border-black {
    border: 1px solid black !important;
}

.dropdown-item:hover {
    background-color: #4db057 !important;
}

.btt-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 120px;
    right: 20px;
}

.btt-link, 
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form CSS */
.allauth-form-inner-content input {
    color:#f2edd5 !important;
    margin-top: 1rem !important;
}

.allauth-form-inner-content label {
    display: none !important;
}

.allauth-form-inner-content input::placeholder {
    color: #f2edd5 !important;
}

#add-product-form:option {
    background-color: black !important;
    -webkit-tap-highlight-color: black !important;
}

.form-control:focus {
    background-color: black !important;
}

/* Custom CSS for the widget */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #f2edd5;
    border-radius: 0;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #4db057;
    border-color: #f2edd5;
    border-radius: 0;
}

/* edit to push body down and change h1 size */
@media screen and (max-width: 990px) {
    body {
        height: 100vh;
    }

    h1.logo-font {
        font-size: 2rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    .home-container {
        padding-top: 25px !important;
    }
    
}

@media screen and (max-width: 700px) {
    body {
        background: url('/media/homebackground2.webp') no-repeat center center fixed;  /* smaller background image */
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 600px) {    
    h1.logo-font {
        font-size: 1.5rem;
    }

    h4.logo-font {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.5rem;
    }
    
}


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%; /* widens defualt bootstrap on extra large screens */
    }
}
  
/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
  
    .header-container {
        padding-top: 164px; /* pushes body down to the bottom of the page */
    }

}

/* Push body down on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .home-container {
        padding-top: 15px;
    }

    .display-4.logo-font.white {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.border-black, .btn.add-back {
        padding: .357rem .357rem;
        font-size: .75rem;
    }

    .bag-table {
        font-size: .6rem;
    }

    .increment-qty.btn-sm, .decrement-qty.btn-sm {
        font-size: .5rem !important;
    }

    .bag-amount {
        font-size: .45rem;
    }

    .checkout-btn {
        font-size: .6rem;
    }

    .input-group {
        width: 80% !important;
    }

    .bag-th {
        font-size: .5rem;
    }
}

@media (max-width: 520px) {
    td {
        word-break: break-all;
    }
}

@media (max-width: 430px) {
    th {
        word-break: break-all;
    }
}