<footer class="footer py-3 black w-100">
    <div class="container-fluid col-12 w-100">
        <div class="row my-0">
            <div class="col-3 text-center my-auto">
                <p class="white text-muted">Art of Darts &copy; <a class="white" href="https://github.com/CamRaff" target="_blank">CamRaff <i class="fa-brands fa-github"></i></a>, 2025.
            </div>
            <div class="col-6 text-center">
                <p class="white text-muted my-0">Please note, all purchases will remain unfulfilled as this website was created for educational purposes.</p>
            </div>
            <div class="col-3 text-center">
                <p class="white text-muted my-0">Contact:</p>
                <p class="white text-muted my-0">Email: test@education.com</p>
                <p class="white text-muted my-0">Phone: 01234567891</p>
            </div>
        </div>
    </div>
</footer>