<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link white mr-5" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link white mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-black border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">View All</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link white mr-5" id="flights-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flights
            </a>
            <div class="dropdown-menu border-black border-0" aria-labelledby="flights-link">
                <a href="{% url 'products' %}?category=flights" class="dropdown-item">All Flights</a>
                <a href="" class="dropdown-item" id="shape-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shape</a>
                <div class="dropdown-menu border-black border-0" aria-labelledby="shape-link">
                    <a href="{% url 'products' %}?product=standard" class="dropdown-item">Standard</a>
                    <a href="{% url 'products' %}?product=kite" class="dropdown-item">Kite</a>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link white mr-5" id="stems-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stems
            </a>
            <div class="dropdown-menu border-0 border-black" aria-labelledby="stems-link">
                <a href="{% url 'products' %}?category=shafts" class="dropdown-item">All Stems</a>
                <a href="" class="dropdown-item" id="size-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Size</a>
                <div class="dropdown-menu border-black border-0" aria-labelledby="size-link">
                    <a href="{% url 'products' %}?product=short" class="dropdown-item">Short</a>
                    <a href="{% url 'products' %}?product=medium" class="dropdown-item">Medium</a>
                    <a href="{% url 'products' %}?product=long" class="dropdown-item">Long</a>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link white mr-5" id="barrels-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Barrels
            </a>
            <div class="dropdown-menu border-0 border-black" aria-labelledby="barrels-link">
                <a href="{% url 'products' %}?category=barrels" class="dropdown-item">All Barrels</a>
                <a href="" class="dropdown-item" id="shape-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shape</a>
                <div class="dropdown-menu border-black border-0" aria-labelledby="shape-link">
                    <a href="{% url 'products' %}?product=straight" class="dropdown-item">Straight</a>
                    <a href="{% url 'products' %}?product=tapered" class="dropdown-item">Tapered</a>
            </div>
        </li>
    </ul>
</div>