{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<hr>
<h2 class="white mb-4 shadow text-center rounded">{% trans "Confirm Email Address" %}</h2>
<hr>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p class="white shadow p-2 rounded">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="white" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form class="white shadow rounded p-2"method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="white green"type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p class="white shadow p-2 rounded">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a class="white" href="{{ email_url }}"><u>issue a new e-mail confirmation request</u></a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
