{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="white mb-4 shadow text-center rounded">{% trans "Change Password" %}</h2>
<hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change white shadow p-2 rounded">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'home' %}" class="btn rounded white"><u>To the darts!</u></a>
        <button type="submit" name="action" class="white green">{% trans "Change Password" %}</button>
        <p class="mt-2 float-right">
            <a class="button secondaryAction white" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
    </form>
{% endblock %}
