{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <h1 class="logo-font white shadow text-center rounded py-2">All Products</h1>
                <hr>
                <div class="col-12 white shadow">{{ products }}</div>
            </div>
        </div>
    </div>
{% include 'includes/footer.html' %}
{% endblock %}