{% extends "base.html" %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <hr>
                <h2 class="logo-font mb-4 white shadow text-center p-2">Product Management</h2>
                <h5 class="white shadow text-center p-2">Edit Product</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <form action="{% url 'edit_product' product.id %}" method="POST" id="edit-product-form" class="white form mb-2 rounded shadow p-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a href="{% url 'products' %}" class="btn rounded white" aria-label="Cancel">Cancel</a>
                        <button class="btn white rounded float-right p-2 mb-2" type="submit" aria-label="Update"><u>Update Product</u></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const categorySelect = document.querySelector('[name="category"]'); // Ensure the name matches the select element in HTML

        // Check if categorySelect is correctly selected
        console.log('Category Select Element:', categorySelect);

        // Initialize on page load to show/hide fields based on the current category selection
        toggleFields(categorySelect.value);

        categorySelect.addEventListener('change', function() {
            const category = categorySelect.value;
            console.log('Selected Category:', category); // Log the selected category for debugging
            toggleFields(category);
        });

        function toggleFields(category) {
            console.log('Toggling fields for category:', category); // Log the category being passed to toggleFields

            // Hide all fields initially
            document.getElementById('div_id_barrel_shape').style.display = 'none';
            document.getElementById('div_id_stem_length').style.display = 'none';
            document.getElementById('div_id_flight_shape').style.display = 'none';

            // Show the appropriate fieldset based on the selected category
            if (category === '1') {
                document.getElementById('div_id_barrel_shape').style.display = 'block';
            } else if (category === '3') {
                document.getElementById('div_id_stem_length').style.display = 'block';
            } else if (category === '2') {
                document.getElementById('div_id_flight_shape').style.display = 'block';
            }
        }
    });

    $('#new-image').change(function(){
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}