{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col"></div> -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container shadow my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container rounded mb-5 mt-md-5 shadow offset-lg-2">
                    <p class="ml-2 mb-2 pt-1 white">{{ product.name }}</p>
                    <p class="ml-2 mb-2 text-left font-weight-bold white">£ {{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0 white mb-1 ml-1">
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted white">
                                <i class="fa-brands fa-dart-lang white"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    <p class="ml-2">
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1 white"> {{ product.rating }} / 5</i></small>
                    {% else %}
                        <small class="text-muted"><i class="fas fa-star mr-1 white"> No rating</i></small>
                    {% endif %}
                    </p>
                    <p class="mt-3 pb-2 white text-center">{{ product.description }}</p>
                    <form action="{% url 'add_to_bag' product.id %}" method="POST" class="form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3 white ml-2 mb-1"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group ml-2">
                                        <div class="input-group-prepend">
                                            <button type="button" class="decrement-qty btn border-black rounded white mr-1 shadow" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control qty-input white" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button type="button" class="increment-qty btn border-black rounded white shadow" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <a href="{% url 'products' %}" class="btn white shadow rounded mt-5 add-back">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back to the darts</span>
                                </a>
                                <input type="submit" value="Add to bag!" class="btn border-black white shadow text-uppercase mt-5 add-back">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row product-padding"></div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}