<div class="toast custom-toast rounded border-top-0" data-autohide="false">
    <div class="w-100 toast-capper rounded-0 bg-info"></div>
    <div class="toast-header black rounded-0 white">
        <strong class="mr-auto">Alert!</strong>
        <button type="button" class="ml-2 mb-1 close white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body black white">
        {{ message }}
    </div>
</div>